h1 {
  color: #3f4241;
 text-align: center;
 font-size: xx-large;
 font-style: oblique;
}

h2 {
  color: rgb(54, 59, 54);
  text-align:center;
  font-size: medium; 
  font-style: oblique;
}

  p {
   margin: 0;
    text-indent: 9px;
    font-style: oblique;
  }

 /* Header Styling */
header {
  justify-content: space-between;
}

/* Parent Styling */
.flexParent {
  display: flex; 
  width:100%;
  flex-wrap:wrap-reverse;
   gap: 8px;
  border:white;
  padding: 20px;
  }
  

/* Card Styling */
.flexChild.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(243, 237, 237);
   padding: 20px;
   text-align: left;
   height: auto;
  color: rgb(99, 95, 95);
}


  
   body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    }
  
  /* Style tab links */
    .tablink {
     background-color: rgb(124, 110, 110);
     color: white;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 15px;
     width: 25%;
   }
  

/* Style Flex-grid */
   .grid-container {
    display:table-row-group;
    height: 60vh;
    border: 15px; 
    padding: 10px;
     
        }

   .grid-item {
      background-color: rgb(243, 237, 237);
      border: 5px white;
     
     }


   .tablink:hover {
     background-color: rgb(87, 80, 80);
   }
  
  
   .tabcontent {
     color: white;
     display: none;
     padding: 100px 20px;
     height: 100%;
  }
  
  #Packet {background-color: red;}
  #News {background-color: green;}
  #Attractions {background-color: blue;}
  #Maps {background-color: orange;}

/* form styling  */
var {
  display: left;
}

  .hidden {
    display: none;
    
  }




footer {
  padding:  3px;
  display: center;
  background-color:  white;

 }


@media (max-width: 767px) {
  .classname {
    width: 80%;
  }
  p:nth-child(even) {
    background: rgb(177, 182, 190);
  }
}

@media (min-width: 992px) {
  .classname {
    width:100%;
  }
   

   .flexChild {
     max-width: 50%;
     flex-direction: row;
  }
  p:nth-child(3) {
    background: rgb(168, 142, 142);
  }
}


 