h1 {
  color: #3d4543;
 text-align: center;
 font-size: xx-large;
 font-style: oblique;
}

h2 {
  color: rgb(55, 56, 55);
  text-align: center;
  font-size: medium;
  font-style: oblique;

}

 /* Parent Styling */
 .flexParent {
  display: flex; 
  flex-wrap: wrap; 
  gap: 8px;
  border:white;
  }


/* Header Styling */
header {
  justify-content: space-between;
}

header .nav {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;
  /*   flex: auto; */
  justify-content: flex-end;
  align-items: center;
}


/* Card Styling */
  .flexChild.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(136, 132, 132);
     padding: 20px;
     width: 200px;
     text-align: left;
     height: auto;
    color: rgb(225, 225, 225);
  }


.flexChild {
  color: rgb(228, 220, 220);
  padding: 20px; width: 150px;
  background:rgb(78, 41, 41)  
  
}
body {
  font-family: "Montserrat", sans-serif;
}
.flex--wrap {
  flex-wrap: wrap;
}
ul {
  list-style: l;
  margin: 0;
  padding: 0;
}
ul li {
  scroll-margin-right:30px;
  word-spacing:20px;
}
ul a {
  color: rgb(22, 19, 19); 
 
 }

.flexbox-container {
  display: flex;
  height: 200px;
  -ms-flex-align: center;
  padding: 10px;
  border: 6px; 
  
}

.flexbox-container img {
height: 100%;
}
.img {
  height: auto;
}


.flexbox-item {
    min-width: 100px;
}

.flexbox-item-1 {
   min-height: 100px;
  }

.flexbox-item-2 {
    min-height: 100px;
   }

.flexbox-item-3 {
     min-height: 100px;
   }
   .flexbox-item-4 {
    min-height: 100px;
  }
  * {box-sizing: border-box}

  
   body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    }
  
  /* Style tab links */
    .tablink {
     background-color: #555;
     color: white;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 15px;
     width: 25%;
   }
  
   .tablink:hover {
     background-color: #777;
   }
  
  
   .tabcontent {
     color: white;
     display: none;
     padding: 100px 20px;
     height: 100%;
  }
  
  #Packet {background-color: red;}
  #News {background-color: green;}
  #Attractions {background-color: blue;}
  #Maps {background-color: orange;}


footer {
  font-size: smaller;
}

@media (max-width: 767px) {
  .classname {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .classname {
    width:100%;
  }
}

 